.container {
  max-width: 1440px;
  &-fluid {
    max-width: 100%;
  }
}
a{
  color: #fff;
  text-decoration: none;
}
.btn{
  font-weight: 400;
  font-size: 12px;
  padding: 7px 20px;
  line-height: 17px;
  color: #000;
  width: 75px;
  height: 30px;
}
.span-logo {
  img {
    content: url('../../img/svg/whiteLogo.svg');
  }
}
.span-logo.balck-icon {
  img {
    content: url('../../img/svg/blackLogo.svg');
  }
}